# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Nuxt.js
.nuxt/
dist/
.nuxt-storybook/
.nuxt-build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache folder
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional coverage directory
coverage/

# Build output
build/
